body {
    display: block;
    margin: 20px 60px 60px 60px;
}

.logo{
    display: inline-block;
    height: 80px;
    width: 375px;
    text-align: left;
}

.name{
    float:right;
    height: 90px;
    width: 280px;
}

.student{
    font-family: arial;
    font-size: 25px;
    color: #5a5a5a;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    margin:1px 1px 1px 25px;
    width: 259px;
    height: 20px
}

.student2{
    float:right;
    font-family: arial;
    color: #5a5a5a;
    font-weight: bold;
    text-align: left;
    margin:1px;
    width: 180px;
    height: 20px
}

.featured{
    font-family: arial;
    font-size: 23px;
    color: #8f8fa4;
    font-weight: bold;
}

.blue{
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 2%;
    background-color: #00abff;
    text-align: center;
}

.cog{
    display: inline-block;
    font-size: 300%;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 23% 1% 1% 1%;

}

.port{
    display: inline-block;
    font-size: 125%;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin-top: 20%;
}

.box{
    display: inline-block;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    background-color: #ffffff;
    margin:5px 60px 10px 80px;
}

.box2{
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: #c5c5c5;
    margin-right:10px;
    margin-bottom: 10px;
    margin-left:55px;
}

.botsearch{
    border-radius: 1px 5px 5px 1px;
    display: inline-block;
    height: 30px;
    width: 31px;
    margin-right:60px;
    margin-bottom: 10px;
    margin-left:73px;
}

.text{
    float:left;
    height: 90px;
    width: 250px;
    margin-left: 12%;
}

.text2{
    float:right;
    height: 90px;
    width: 250px;
    margin-right: 13%;
}

.name_left,.name_right{
    font-size: 150%;
}

.name_left{
    float:left;
    font-family: arial;
    color: #5a5a5a;
    text-align: center;
    margin:10px;
    width: 250px;
    height: 20px
}

.name2_left{
    float:left;
    font-family: arial;
    color: #00abff;
    text-align: center;
    margin:10px;
    width: 250px;
    height: 20px
}

.name_right{
    float:left;
    font-family: arial;
    color: #5a5a5a;
    text-align: center;
    margin:10px;
    width: 250px;
    height: 20px
}

.name2_right{
    float:left;
    font-family: arial;
    color: #00abff;
    text-align: center;
    margin:10px;
    width: 250px;
    height: 20px
}

.violet{
    height: 350px;
    width: 43%;
    border-radius: 2%;
    background-color: #cb1ccb;
    text-align: center;
}

.red{
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 2%;
    background-color: #ff0000;
    text-align: center;
    margin-right: 60px;
}

.green{
    height: 350px;
    width: 43%;
    border-radius: 10px;
    background-color: #76ff76;
    text-align: center;
}

.purple{
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 10px;
    background-color: #670067;
    text-align: center;
}

.orange{
    height: 350px;
    width: 43%;
    border-radius: 10px;
    background-color: #ff6500;
    text-align: center;
}

.gray{
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 10px;
    background-color: #c5c5c5;
    text-align: center;

}

.sky_blue{
    height: 350px;
    width: 43%;
    border-radius: 10px;
    background-color: #00daff;
    text-align: center;
}

.by{
    font-family: arial;
    color: #5a5a5a;
}
.by,.violet,.green,.orange,.sky_blue{
    float:right;
}

.blue:hover{
    background-color: #009ae6;
}
.violet:hover{
    background-color: #b519b5;
}
.red:hover{
    background-color: #cc0000;
}
.green:hover{
    background-color: #43ff43;
}
.purple:hover{
    background-color: #4e004e;
}
.orange:hover{
    background-color: #e65b00;
}
.gray:hover{
    background-color: #b8b8b8;
}
.sky_blue:hover{
    background-color: #00c4e6;
}
.name_left:hover{
    color:#0c0c0c;
}
.name2_left:hover{
    color:#0c0c0c;
}
.name_right:hover{
    color:#0c0c0c;
}
.name2_right:hover{
    color:#0c0c0c;
}
.by:hover {
    color: #0c0c0c;
}