body {
    display: block;
    margin: 20px 60px 60px 60px;
}

.logo{
    display: inline-block;
    height: 80px;
    width: 375px;
    text-align: left;
}

.name{
    display: inline-block;
    float:right;
    height: 90px;
    width: 280px;
}
.student{
    font-family: arial;
    font-size: 25px;
    color: #5a5a5a;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    margin:1px 1px 1px 25px;
    width: 259px;
    height: 20px

}
.student2{
    float:right;
    font-family: arial;
    font-size: 15px;
    color: #5a5a5a;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    margin:1px;
    width: 173px;
    height: 20px
}

.featured{
    font-family: arial;
    font-size: 23px;
    color: #8f8fa4;
    font-weight: bold;
}

.blue{
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 2%;
    background-color: #00abff;
    text-align: center;

}

.cog{
    display: inline-block;
    font-size: 300%;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 23% 1% 1% 1%;
    width: 100%;
}

.port{
    display: inline-block;
    font-size: 300%;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 20% 0% 0% 0%;
}

.search_smo{
    display: inline-block;
    font-size: 125%;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 20% 0% 0% 0%;
}

.box{
    display: inline-block;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    background-color: #ffffff;
    margin:5px 60px 10px 80px;
}

.box2{
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: #c5c5c5;
    margin:0px 10px 10px 55px;
}

.botsearch{
    border-radius: 0px 5px 5px 0px;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin:0px 60px 10px 73px;
}

.text{
    display: inline-block;
    float:left;
    height: 90px;
    width: 250px;
    margin:0% 0% 0% 12%;
}
.text2{
    display: inline-block;
    float:right;
    height: 90px;
    width: 250px;
    margin:0% 13% 0% 0%;
}

.name_left{
    float:left;
    font-family: arial;
    font-size: 150%;
    color: #5a5a5a;
    display: inline-block;
    text-align: center;
    margin:10px;
    width: 250px;
    height: 20px
}

.name2_left{
    float:left;
    font-family: arial;
    font-size: 90%;
    color: #00abff;
    display: inline-block;
    text-align: center;
    margin:10px;
    width: 250px;
    height: 20px
}

.name_right{
    float:left;
    font-family: arial;
    font-size: 150%;
    color: #5a5a5a;
    display: inline-block;
    text-align: center;
    margin:10px;
    width: 250px;
    height: 20px
}

.name2_right{
    float:left;
    font-family: arial;
    font-size: 90%;
    color: #00abff;
    display: inline-block;
    text-align: center;
    margin:10px;
    width: 250px;
    height: 20px
}

.violet{
    float:right;
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 2%;
    background-color: #cb1ccb;
    text-align: center;
    margin:0px 0px 0px 0px;
}

.red{
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 2%;
    background-color: #ff0000;
    text-align: center;
    margin:0px 60px 0px 0px;
}

.green{
    float:right;
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 10px;
    background-color: #76ff76;
    text-align: center;
    margin:0px 0px 0px 0px;
}
.ligth_blue{
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 10px;
    background-color: #670067;
    text-align: center;
    margin:0px 0px 0px 0px
}
.orange{
    float:right;
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 10px;
    background-color: #ff6500;
    text-align: center;
    margin:0px 0px 0px 0px;
}
.gray{
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 10px;
    background-color: #c5c5c5;
    text-align: center;
    margin:0px 0px 0px 0px
}

.ligth{
    float:right;
    display: inline-block;
    height: 350px;
    width: 43%;
    border-radius: 10px;
    background-color: #00daff;
    text-align: center;
    margin:0px 0px 0px 0px;
}

.by{
    clear: both;
    font-family: Helvetica;
    font-size: 30px;
    color: gray;
    font-style: italic;
    text-align: right;
    text-decoration: none;
}

.blue:hover{
    background-color: #00d6ff;
}
.violet:hover{
    background-color: #e64de6;
}
 .red:hover{
    background-color: #ff4d4d;
}
.green:hover{
    background-color: #a9ffa9;
}
.ligth_blue:hover{
    background-color: #9a009a;
}
.orange:hover{
    background-color: #ff934d;
}
.gray:hover{
    background-color: #dfdfdf;
}
.ligth:hover{
    background-color: #00ffe4;
}
.name_left:hover{
    color:#0c0c0c;
}
.name2_left:hover{
    color:#0c0c0c;
}
.name_right:hover{
    color:#0c0c0c;
}
.name2_right:hover{
    color:#0c0c0c;
}
.by:hover {
    color: #bbbbbb;
}